.mask-item-holder {
  display: flex;
  flex-wrap: wrap;
}

.mask-item {
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  text-align: center;
  border: 2px solid black;
}

.mask-item:hover {
  border: 2px solid gray;
}

.mask-preview {
  width: 12rem;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .mask-preview {
    width: 8rem;
    height: auto;
  }
}