.sub-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.nftx-section {
  margin-top: 2rem;
}

.warning {
  font-weight: bold;
}

.name {
  font-size: 1.5rem
}

.mask-img {
  width: 20rem;
  height: auto;
}

.btn-panel {
  margin-top: 1rem;
  text-align: left;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.token-holder {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.2rem;
  margin-bottom: 1rem;
}

.token-logo {
  width: 2rem;
  height: auto;
}

input {
  width: 25rem;
  max-width: 90%;
}